<header>
  <nav>
    <ul>
      <li>
        <a routerLink="./home">home component</a>
      </li>
      <li>
        <a routerLink="./products">crud </a>
      </li>
      <li>
        <a routerLink="./signals">signals </a>
      </li>
      <li>
        <a routerLink="./cart">cart </a>
      </li>
      <!-- <li>
        <a routerLink="./users">users</a>
      </li> -->
      <!-- <li>
        <a routerLink="./about">about component</a>
      </li>
      <li>
        <a routerLink="./news">newscomponent</a>
      </li>
      <li>
        <a routerLink="/admin/user">admin </a>
      </li> -->
      <!-- <li>
        <a routerLink="/admin/user2">admin </a>
      </li>
      <li>
        <a routerLink="./contact">contacts component</a>
      </li>
      <li></li>
      <li>
        <a routerLink="./forms">forms component</a>
      </li> -->
    </ul>
  </nav>
</header>
