<header>
  <nav>
    <ul>
      <li>
        <a routerLink="./home">home component</a>
      </li>
      <li>
        <a routerLink="./about">about component</a>
      </li>
      <li>
        <a routerLink="./news">newscomponent</a>
      </li>
      <!-- <li>
        <a routerLink="./contact">contacts component</a>
      </li>
      <li>
        <a routerLink="./services">servies component</a>
      </li>
      <li>
        <a routerLink="./home">home component</a>
      </li> -->
    </ul>
  </nav>
</header>
