<div>
  <button (click)="postData()">CALL senddata```</button>
  <button (click)="getData()">CALL getData ```</button>
  <button (click)="putData()">CALL putData ```</button>
  <button (click)="deteleData()">CALL deteleData ```</button>
</div>

<!-- <div>
  <hr />
  {{ jsonData$ | json }}
  <ng-container *ngIf="jsonData$ | async as data; else loading">
    <div *ngFor="let category of data">
      <h1>{{ category.name }}</h1>
    </div>
  </ng-container>
  <ng-template #loading> <h1>loading</h1></ng-template>
</div>
> -->
