<app-header></app-header>

<router-outlet> </router-outlet>
<!-- <router-outlet></router-outlet> -->
<!-- <div>
  <label> select color</label>
  <input type="color" id="colorPicker" #colorInput />
</div>

<div class="color-box" [style.backgroundColor]="selectedColor">
  <h1>app component</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
    dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio,
    sequi.
  </p>
</div> -->

<!-- <div>
  <h1>;;</h1>
  <app-test [data]="courses"></app-test>
  <button (click)="changeMs()">change msg</button>
</div> -->

<!-- <app-test (myEvent)="receiveEvent($event)"></app-test>

<h1>{{ message }}</h1> -->
<!-- <h1>test</h1>

<button (click)="updateValue()">update value</button>

<app-test [inputValue]="inputValue"></app-test> -->

<!-- <h1>portfolio</h1>

<ng-container *ngIf="!submitted; else preview">
  <h2>personal info</h2>
  <form>
    <div>
      <label for="name">name</label>
      <input type="text" name="name" id="name" [(ngModel)]="name" />
    </div>
    <div>
      <label for="email">email</label>
      <input type="email" name="email" id="email" [(ngModel)]="email" />
    </div>
    <div>
      <label for="phone">phone</label>
      <input type="tel" name="phone" id="phone" [(ngModel)]="phone" />
    </div>
    <div>
      <label for="address">address</label>
      <input type="text" name="address" id="address" [(ngModel)]="address" />
    </div>
  </form>
  <div *ngFor="let q of qualifications; let i = index">
    <h3>qualification {{ i + 1 }}</h3>
    <form>
      <div>
        <label for="school{{ i }}">school</label>
        <input
          type="text"
          name="school{{ i }}"
          id="school{{ i }}"
          [(ngModel)]="q.school"
        />
      </div>
      <div>
        <label for="degree{{ i }}">degree</label>
        <input
          type="text"
          name="degree{{ i }}"
          id="degree{{ i }}"
          [(ngModel)]="q.degree"
        />
      </div>
      <div>
        <label for="year{{ i }}">year</label>
        <input
          type="text"
          name="year{{ i }}"
          id="year{{ i }}"
          [(ngModel)]="q.year"
        />
      </div>
    </form>
  </div>

  <div class="btn-container">
    <button (click)="addQualification()">add qualification</button>
    <button type="submit" (click)="submit()">submit</button>
  </div>
</ng-container>

<ng-template #preview>
  <div>
    <h2>preview</h2>
    <div>
      <p>{{ name }}</p>
      <p>email {{ email }}</p>
      <p>phone {{ phone }}</p>
      <p>address {{ address }}</p>
    </div>
    <div>qualification</div>
    <div *ngFor="let q of qualifications">
      <h5>school {{ q.school }}</h5>
      <h5>degree {{ q.degree }}</h5>
    </div>
    <button (click)="edit()">edit</button>
  </div>
</ng-template> -->

<!-- 
<ng-template #emptable let-emp>
  <table>
    <tr>
      Id
    </tr>
    <tr>
      name
    </tr>
    <tr>
      salary
    </tr>
    <tr *ngFor="let e of emp">
      <td>{{ e.id }}</td>
      <td>{{ e.name }}</td>
      <td>{{ e.salar }}</td>
    </tr>
  </table>
</ng-template>

<ng-container
  *ngTemplateOutlet="emptable; context: { $implicit: employers20 }"
></ng-container>

<ng-template #show123 let-msg>
  <p>this is a template123123 {{ msg }}</p>
</ng-template>
<ng-container
  *ngTemplateOutlet="show123; context: { $implicit: 'this is context msg' }"
></ng-container>

<ng-container *ngIf="isAuth; else notAuth">
  <p>auth user</p>
</ng-container>

<ng-template #notAuth>
  <h2>noth auth</h2>
</ng-template>

<div>
  <p>item 1</p>
  <p>item 2</p>
  <p>item 3</p>
  <p>item 4</p>
</div>

<hr />
<ng-container>
  <p>item 1</p>
  <p>item 2</p>
  <p>item 3</p>
  <p>item 4</p>
</ng-container>

<div>
  <form *ngIf="!formSubmitted">
    <h1>sumbit form</h1>
    <div class="form-group">
      <label for="name">name</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="nm"
        [ngStyle]="{ 'background-color': nm ? 'lightgreen' : 'blue' }"
        required
      />
    </div>
    <div class="form-group">
      <label for="email">email</label>
      <input
        type="email"
        name="email"
        [(ngModel)]="em"
        required
        [ngStyle]="{ 'background-color': emailIsValid ? 'lightgreen' : 'blue' }"
        (input)="emailValidation(em)"
      />
    </div>
    <button type="submit" (click)="showMessage()">submit</button>
  </form>

  <p *ngIf="formSubmitted">form is submited</p>
</div>

<div style="text-align: center">
  <p [ngStyle]="{ color: 'red', 'font-size': '20px' }">
    example of ng style directive
  </p>

  <p [ngStyle]="applyVal">example of ng style directive</p>
</div>

<button (click)="toggleMode()">
  {{ colorMode === "lightMode" ? "switch to dark " : "switch to light" }}
</button>

<div class="box" [ngClass]="colorMode">
  <h1>light mode</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita esse
    libero eligendi in quo quaerat corporis, cum natus facere consequuntur est?
    Nobis, cupiditate nesciunt vel magnam incidunt doloribus dicta
  </p>
</div>
<div class="box" [ngClass]="colorMode">
  <h1>dark mode</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita esse
    libero eligendi in quo quaerat corporis, cum natus facere consequuntur est?
    Nobis, cupiditate nesciunt vel magnam incidunt doloribus dicta
  </p>
</div>

<div>
  <h1>Role selection</h1>
  <select [(ngModel)]="employeeRole">
    <option value="">select role</option>
    <option value="dev">dev</option>
    <option value="marketing">marketing</option>
    <option value="analyst">analyst</option>
  </select>

  @switch (employeeRole) { @case ('dev') {
  <h1>devs</h1>
  <h3>selected role dev</h3>
  <table>
    <thead>
      <tr>
        id
      </tr>
      <tr>
        name
      </tr>
      <tr>
        role
      </tr>
    </thead>
    <tbody>
      @for (emp of employees(); track emp.id) { @if (emp.role === 'dev') {
      <tr>
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.role }}</td>
      </tr>
      } }
    </tbody>
  </table>
  } @default {
  <h1>selected something elese then dev hhhhhhhhh</h1>
  } }
</div>

<hr />

<input
  type="text"
  placeholder="enter text here "
  (input)="textInput($event)"
  [ngClass]="{ txt: hasText }"
/>

<p [ngClass]="'updateStyles italicText letterFormat '">
  this is a example of ng class
</p>

<p [ngClass]="['updateStyles', 'letterFormat']">
  this is a example of ng class
</p>

<p [ngClass]="{ updateStyles: true, letterFormat: false }">
  this is a example of ng class
</p>

<div class="container">
  <label>enter ur age</label>
  <input type="text" (input)="checkAge()" [(ngModel)]="age1" />

  <div [ngSwitch]="isEligible">
    <p *ngSwitchCase="true">you can work</p>
    <p *ngSwitchDefault>you cant work</p>
  </div>
</div>

<div [ngSwitch]="age" style="text-align: center; font-size: 20px">
  <p *ngSwitchCase="10">this person is 10 yo</p>
  <p *ngSwitchCase="20">this person is 20 yo</p>
  <p *ngSwitchCase="30">this person is 30 yo</p>
  <p *ngSwitchCase="40">this person is 40 yo</p>
  <p *ngSwitchDefault>this person is {{ age }} yo</p>
</div>

<div>
  <h1>list emp</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>name</th>
        <th>role</th>
      </tr>
    </thead>
    <tbody>
      @for (emp of employees(); track emp.id) {
      <tr>
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.role }}</td>
      </tr>
      } @empty {
      <h2>no employess found</h2>
      }
    </tbody>
  </table>
</div>

<button (click)="show = !show">show list</button>

<ul *ngIf="show">
  <li *ngFor="let item of list" style="margin-bottom: 15px">
    {{ item.name }} is {{ item.age }} yo.
  </li>
</ul>

<div *ngFor="let value of fullstackDev">
  <ul>
    <li>{{ value.id }}</li>
    <li>{{ value.name }}</li>
  </ul>
</div>

<input type="text" [(ngModel)]="staticInput" />

<br />

@if(show){

<h1>lalala sho true</h1>
} @else {
<h1>lalala show false</h1>

}

<button type="submit" (click)="show = !show">handle show</button>

<br />
<h1 *ngIf="show">lalalallalala</h1>

<br />

<input type="text" [(ngModel)]="dynamicInput" />

<h1>{{ dynamicInput }}</h1> -->
