<app-data></app-data>
<!-- <h1>app</h1>

VVVV
<hr />
<h1>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nesciunt
  ipsam animi libero similique, voluptatum, non voluptate, facilis commodi nam
  doloribus corrupti maxime ipsa fuga perferendis sunt illum architecto modi
  laborum quae laudantium ut in aperiam aliquid? Sapiente autem molestias et.
  Earum alias repellat aut quos vero magni nihil itaque, quisquam officia
  officiis aperiam harum commodi neque tempore. Qui fuga ratione aspernatur
  necessitatibus impedit sapiente exercitationem harum, quis porro perspiciatis
  reiciendis quam eveniet consequatur voluptatem fugit nostrum quae dolorum enim
  vel! Ipsum, id. Iusto, cupiditate blanditiis unde libero, facere nobis sit sed
  sint hic odio laudantium id, inventore esse fugit?
</h1>
<app-loop></app-loop>
<app-defer></app-defer> -->
<!-- <app-form></app-form> -->
