html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  font-weight: 300;
}
header {
  width: 100%;
}

nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 60px;
  min-height: 8vh;
  align-items: center;
  background-color: gray;
  color: white;
  text-decoration: none;
}
a {
  text-decoration: none;
}

nav ul {
  line-height: 40px;
  list-style: none;
  background-color: black;
  overflow: hidden;
}
nav ul li {
  display: block;
  padding: 10px 40px;
}
